In [14]:
import pandas as pd
from pathlib import Path

path = "../data/raw/matricula/"
files = Path(path).glob('*.csv')

In [15]:
from pandas.core.frame import DataFrame

matriculas_dataframes: list[DataFrame] = [pd.read_csv(filepath, sep=";") for filepath in files]

In [16]:
from collections import Counter

all_columns = [col for df in matriculas_dataframes for col in df.columns]

column_counts = Counter(all_columns)

print("Column name occurrences:")
for col, count in column_counts.items():
    print(f"{col}: {count}")

Column name occurrences:
AGNO: 7
RBD: 7
DGV_RBD: 7
NOM_RBD: 7
COD_DEPE: 7
COD_DEPE2: 7
RURAL_RBD: 7
COD_REG_RBD: 7
NOM_REG_RBD_A: 4
COD_PRO_RBD: 7
COD_COM_RBD: 7
NOM_COM_RBD: 7
COD_DEPROV_RBD: 7
NOM_DEPROV_RBD: 7
ESTADO_ESTAB: 7
MAT_SI_1: 5
MAT_HOM_1: 7
MAT_MUJ_1: 7
MAT_ENS_1: 7
MAT_SI_2: 7
MAT_HOM_2: 7
MAT_MUJ_2: 7
MAT_ENS_2: 7
MAT_HOM_3: 7
MAT_MUJ_3: 7
MAT_ENS_3: 7
MAT_SI_4: 5
MAT_HOM_4: 7
MAT_MUJ_4: 7
MAT_ENS_4: 7
MAT_SI_5: 5
MAT_HOM_5: 7
MAT_MUJ_5: 7
MAT_ENS_5: 7
MAT_HOM_6: 7
MAT_MUJ_6: 7
MAT_ENS_6: 7
MAT_HOM_7: 7
MAT_MUJ_7: 7
MAT_ENS_7: 7
MAT_HOM_8: 7
MAT_MUJ_8: 7
MAT_ENS_8: 7
MAT_HOM_TOT: 7
MAT_MUJ_TOT: 7
MAT_SI_TOT: 7
MAT_TOTAL: 7
CUR_SIM_01: 7
CUR_SIM_02: 7
CUR_SIM_03: 7
CUR_SIM_04: 7
CUR_SIM_05: 7
CUR_SIM_06: 7
CUR_SIM_07: 7
CUR_SIM_08: 7
CUR_SIM_TOT: 7
CUR_COMB_01: 7
CUR_COMB_02: 7
CUR_COMB_TOT: 7
Unnamed: 0: 1
MAT_SI_3: 2
ïagno: 3
rbd: 3
dgv_rbd: 3
nom_rbd: 3
cod_depe: 3
cod_depe2: 3
rural_rbd: 3
cod_reg_rbd: 3
cod_pro_rbd: 3
cod_com_rbd: 3
nom_com_rbd: 3
mat_hom_1: 3
mat_muj_1: 3
mat_ens_1: 3
mat_si_2: 3
mat_hom_2: 3
mat_muj_2: 3
mat_ens_2: 3
mat_hom_3: 3
mat_muj_3: 3
mat_ens_3: 3
mat_hom_4: 3
mat_muj_4: 3
mat_ens_4: 3
mat_hom_5: 3
mat_muj_5: 3
mat_ens_5: 3
mat_hom_6: 3
mat_muj_6: 3
mat_ens_6: 3
mat_hom_7: 3
mat_muj_7: 3
mat_ens_7: 3
mat_hom_8: 3
mat_muj_8: 3
mat_ens_8: 3
mat_hom_tot: 3
mat_muj_tot: 3
mat_si_tot: 3
mat_total: 3
cur_sim_01: 3
cur_sim_02: 3
cur_sim_03: 3
cur_sim_04: 3
cur_sim_05: 3
cur_sim_06: 3
cur_sim_07: 3
cur_sim_08: 3
cur_sim_tot: 3
cur_com_01: 1
cur_com_02: 1
cur_com_tot: 1
mat_hom_gd: 2
mat_muj_gd: 2
mat_gd_total: 2
cod_deprov_rbd: 2
nom_deprov_rbd: 2
estado_estab: 2
cur_comb_01: 2
cur_comb_02: 2
cur_comb_tot: 2
mat_si_1: 1
mat_si_4: 1
mat_si_8: 1
MAT_SI_8: 1

'DASDASDSAASDASDSADASDASD/&&%/'

In [42]:
for df in matriculas_dataframes:
    df.rename(columns={column:column.casefold().strip() for column in df.columns}, inplace=True)

for df in matriculas_dataframes:
    df.rename(columns={"ïagno":"agno"}, inplace=True)

In [46]:
for df in matriculas_dataframes:
    df.rename(columns={'cur_com_01':'cur_comb_01','cur_com_02':'cur_comb_02','cur_com_tot':'cur_comb_tot'}, inplace=True)

In [49]:
concatenated_matricula = pd.concat(matriculas_dataframes, axis=0, ignore_index=True)

In [51]:
len(concatenated_matricula.columns)

65

In [27]:
threshold = len(concatenated_matricula) * 0.95  # 2% of total rows

# handle some sneaky characters
# for column in concatenated_matricula.columns:
#     concatenated_matricula[column] = concatenated_matricula[column].replace(' ', pd.NA)

#concatenated_matricula_cleaned: DataFrame = concatenated_matricula.dropna(axis=1, thresh=threshold)
#concatenated_matricula_cleaned = concatenated_matricula.dropna(how="all")

In [45]:
concatenated_matricula

,agno,rbd,dgv_rbd,nom_rbd,cod_depe,cod_depe2,rural_rbd,cod_reg_rbd,nom_reg_rbd_a,cod_pro_rbd,...,cur_comb_tot,unnamed: 0,mat_si_3,cur_com_01,cur_com_02,cur_com_tot,mat_hom_gd,mat_muj_gd,mat_gd_total,mat_si_8
0,2022,1,9,LICEO POLITECNICO ARICA,6,5,0,15,AYP,151,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,2,7,PARVULARIO LAS ESPIGUITAS,6,5,0,15,AYP,151,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,6,5,1,15,AYP,151,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,4,3,LICEO OCTAVIO PALMA PEREZ,6,5,0,15,AYP,151,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,5,1,JOVINA NARANJO FERNANDEZ,6,5,0,15,AYP,151,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158420,2021,41921,4,JARDIN INFANTIL BAMBU,4,3,0,13,RM,131,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158421,2021,41923,0,SALA CUNA Y JARDIN INFANTIL LITTLE SMILES,4,3,0,4,COQ,41,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158422,2021,41924,9,ESCUELA DE LENGUAJE EL ROBLE,4,3,0,8,BBIO,81,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158423,2021,41925,7,JARDIN INFANTIL WALDORF GABRIELA MISTRAL,4,3,0,13,RM,131,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158424,2021,41926,5,JARDIN INFANTIL Y SALA CUNA SUEÑOS MAGICOS,4,3,0,5,VALPO,58,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

158425